html {
  height: 100%;
  width: 100%;
}

body {
  background: conic-gradient( rgba(57, 33, 5, 0.84) 0%,rgb(39 71 8 / 80%) 100%);
  height:auto;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}

label {
  cursor: pointer;
  padding: 8px;
}

.browser-box {
  display: flex;
  overflow: scroll;
  height: auto;
  width: auto;
  border:rgba(217, 190, 93, 0.953) 6px solid;
  border-radius: 2px;
  background-color:rgb(56 41 21 / 81%);
  box-shadow: 0px 0px 5px 6px rgb(245, 245, 245);
}
.main-view {
  display: flex;
  height: auto;
  width: auto;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  margin: 3px;
  border-radius: 4px;
}
.saved-view {
  display: flex;
  height: auto;
  width: auto;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
}
.room-card {
  display: flex;
  flex-direction: column;
  height: 175px;
  width: 125px;
  border: white 1px solid;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin: 3px;
  background-color: blanchedalmond;
  opacity: .67;
}
.room-card:hover {
  opacity: .95;
  border: goldenrod 1px solid;
  cursor: pointer;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: auto;
  top: 250px;
}

.hidden {
  display:none;
}

/* Scroll Bar Styling */
::-webkit-scrollbar {
    width: 12px;
    background:rgba(57, 33, 5, 0.84)
   }
::-webkit-scrollbar-corner {
    width: 18px;
    background: rgb(215, 197, 131);
    border-radius: 3px;
  }
::-webkit-scrollbar-track {
    background:  rgba(57, 33, 5, 0.84);
    border-radius: 4px; 
   }
  
::-webkit-scrollbar-thumb {
  background: goldenrod;
  border-radius: 4px;
   }
  
::-webkit-scrollbar-thumb:hover {
    background:rgba(217, 190, 93, 0.953);
    border: rgb(149, 114, 27);
    cursor: pointer;
}
