html {
  height: 100%;
  width: 100%;
}

body {
  background: conic-gradient( rgb(45, 49, 67) 0%, rgb(207, 188, 192) 100%);
  height:auto;
  width: auto;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.browser-box {
  display: flex;
  height: 500px;
  width: 1000px;
  border: black 3px dotted;
}
.main-view {
  display: flex;
  height: 500px;
  width: 1000px;
  border: white 2px solid;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  margin: auto;
}
.saved-view {
  display: flex;
  height: 500px;
  width: 1000px;
  border: white 1px solid;
  flex-wrap: wrap;
  align-content: space-around;
}
.room-card {
  display: flex;
  flex-direction: column;
  height: 125px;
  width: 90px;
  border: white 1px solid;
  font-size:small;
  justify-content: center;
  align-items: center;
}
/* 
.room-card-detail {

} */

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  width: 95%;
}

.hidden {
  display:none;
}